.cart-container {
  max-width: 1200px;
  margin: 0 100px; 
  padding: 10px;
}

.cart-items {
  display: flex; 
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between; 
}

.cart-item {
  width: 23%; 
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.4s ease;
}

.image-container {
  position: relative;
  width: 100%; 
  height: 150px;
}

.cart-item-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.cart-item:hover{
  height: 105px;
  transform: scale(1.1);
}

/* When .cart-item is hovered, make .medicine-title font bold */
.cart-item:hover .medicine-title {
  font-weight: bold;
}

.medicine-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #000000; 
  text-align: center;
  margin-top: 10px; 
}
