
@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  max-width: 1728px;
  width: 100%;
  height: auto;
  background-color: #D6E9FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 24px;
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 0 20px;
}

.button {
  width: 256px;
  height: 68.9px;
  background-color: #497E06;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
  padding: 3px;
  margin-top: 3rem;
}

.nav-links {
  display: flex;
  gap: 3rem;
  margin-right: auto;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  font-weight: bold;
}

.second-frame {
  max-width: 1728px;
  width: 100%;
  height: 118px;
  background-color: #8EC93E;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 10px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 20px 10px;
  }
  
  .nav-links {
    flex-direction: column;
    gap: 1rem;
    margin: 10px 0;
  }
  
  .button {
    width: 100%;
  }

  .logo {
    width: 80%;
    margin: 0 auto 1rem;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 20px;
  }

  .nav-links a {
    font-size: 14px;
  }

  .button {
    font-size: 14px;
  }
}
